<div (click)="onSearchCard(uri)" [routerLink]="type" class="d-flex my-2" style="height: 5rem; cursor: pointer">
  <img src="{{img}}" alt="cover" class="h-100 overflow-hidden" style="width: 5rem; cursor: pointer">
  <div class="my-auto ms-2 overflow-hidden" style="cursor: pointer">
    <h5 class="text-light h-50 text-nowrap overflow-auto" style="cursor: pointer">{{name}}</h5>
    <p class="text-light text-nowrap overflow-auto" style="cursor: pointer">{{creator}}</p>
  </div>
</div>
<hr class="border-white">
