<form #searchForm="ngForm" class="mb-4" (ngSubmit)="onSubmit(searchForm)">
  <div class="row mt-4">
    <div class="col-md-8">
      <input type="text" ngModel name="request" class="form-control" required>
    </div>
    <div class="col-md-2 mt-3 mt-md-0 d-flex">
      <select class="btn btn-success me-3" ngModel="album" name="searchType">
        <option value="album">Album</option>
        <option value="artist">Künstler</option>
        <option value="playlist">Playlist</option>
        <option value="track">Song</option>
      </select>
      <button type="submit" class="btn btn-success">Suchen</button>
    </div>
  </div>
</form>
